.z-top-border {
    border-top: 4px solid #e7eaec;
    border-bottom: 1px solid #ccc;
}

.z-contain {
    background: #fff;
}

.z-contain .z-ibox-title {
    background-color: #fff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 0 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.z-left-name {
    width: 100%;
    background: #fff;
    clear: both;
    display: inline-block;
    /* float: left; */
    height: auto;
}

.z-character-name, .z-character-depart {
    padding: 11px 10px;
    line-height: 16px;
    vertical-align: middle;
    font-size: 12px;
    color: #666666;
    cursor: pointer;
    clear: both;
    margin: 0;
}

.z-chose-char {
    background: #e3e6ec;
}

.z-no-padding {
    padding: 0 !important;
}

.z-character-name:hover {
    background: #e3e6ec;
}

.z-character-name .fa {
    padding: 5px;
    margin-left: 5px;
    float: right;
    font-size: 18px;
    display: none;
}

.z-character-depart .fa {
    padding: 5px;
    margin-left: 5px;
    float: right;
    font-size: 18px;
    display: none;
}

.z-chose-char .fa {
    display: block;
}

.competence {
    margin: 20px 20px;
}

.z-competence-table tr td:nth-of-type(1) {
    width: 110px;
    border-right: 1px solid #f3f6f8;
}

.z-competence-table thead tr td {
    position: relative;
}

td {
    line-height: 25px;
    padding: 10px;
}

table {
    font-size: 12px;
    line-height: 42px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.z-competence-table tr {
    border: 1px solid #f3f6f8;
}

.z-competence-table thead tr {
    background: #f3f6f8;
}

.z-competence-table tr td:nth-of-type(2) div {
    width: 110px;
    display: inline-block;
}

.z-competence-table thead td {
    position: relative;
}

.z-competence-table thead td i {
    float: right;
    font-size: 18px;
}

.z-hide {
    transform: rotate(180deg);;
    -webkit-transform: rotate(180deg); /*Safari 4+,Google Chrome 1+ */
    -moz-transform: rotate(180deg); /*Firefox 3.5+*/
}

.z-lefe-menu {
    border-right: 1px solid #ccc;
    min-height: 600px;
}

.z-right {
    min-height: 600px;
}

.layui-layer-btn {
    text-align: left;
}

.z-red {
    color: red;
}

.btn-outline {
    color: #1c84c6;
}